@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto');

body {
    position: relative;
    height: 700px;
}

.call {
    position: fixed;
    right: 15%;
    bottom: 0;
    padding: 1% 2%;
    border: none;
    background-color: #FFC13C;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

/*Navigation*/
nav {
    display: flex;
    padding: 1% 12%;
    font-family: 'Libre Baskerville', serif;
    font-size: 1vw;
}

ul, li, a {
    list-style-type: none;
    text-decoration: none;
    color: #000;
}

nav a, nav li {
    margin-top: 5px;
    transition: 1s;
}

nav a:hover  {
    color: #FFC13C;
}

nav ul {
    width: 100%;
}

nav span{
    width: 15%;
    position: absolute;
    top: 10%;
    right: 6%;
    overflow: hidden;
    transform: rotate(-90deg);
    font-size: 2vw;
    color: #FFC13C;
}

/*Accueil*/
.contain, .container {
    text-align: center;
}

.image{
    display: inline-block;
}

.image img {
    cursor: pointer;
    opacity: 0.7;
    /*height: 400px;*/
    margin-left: 1%;
    transition: 1s;
}

.contain img:hover {
    opacity: 1;
}

/*Qui sommes-nous*/
.about, .work {
    display: block;
    text-align: center;
    height: 500px;
    margin-top: 5%;
    padding: 0 5%;
    opacity:1;
}

.about h2 {
    position: absolute;
    right: 14%;
    top: 37%;
    font-weight: normal;
    font-family: 'Libre Baskerville', serif;
}

.about img {
    width: 45%;
    height: 300px;
    cursor: auto;
    opacity: 0.8;
    float: left;
    margin-left: 11%;
}

.about-text {
    width: 35%;
    opacity: 1;
    position: absolute;
    right: 11%;
    top: 45%;
    padding: 1% 1%;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.about-text samp {
    font-family: 'Libre Baskerville', serif ;
    font-size: 100px;
    position: absolute;
    z-index: 0;
    top: 30%;
    right: 10%;
    opacity: 0.3;
    color: #FFC13C;
}

/*Notre savoir faire*/
.work img {
    width: 45%;
    height: 300px;
    cursor: auto;
    opacity: 0.8;
    float: right;
    margin-right: 8%;
}

.work h2 {
    position: absolute;
    left: 14%;
    top: 37%;
    font-weight: normal;
    font-family: 'Libre Baskerville', serif;
    z-index: 1;
}

.work-text {
    width: 35%;
    opacity: 1;
    position: absolute;
    left: 11%;
    top: 45%;
    padding: 1% 1%;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    z-index: 1;
}

.work-text samp {
    font-family: 'Libre Baskerville', serif ;
    font-size: 100px;
    position: absolute;
    z-index: 0;
    top: 30%;
    left: 10%;
    opacity: 0.3;
    color: #FFC13C;
}